@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   text-decoration: none;
}
:root {
   --primary-color: #f4f4f4;
   --secondary-color: black;
}
.dark-theme {
   --primary-color: black;
   --secondary-color: #f4f4f4;
}

body {
   min-height: 100vh;
   background-color: var(--primary-color);
}
/* Header*/
header {
   padding: 20px;
   display: flex;
   justify-content: space-evenly;
   position: fixed;
   width: 100%;
   z-index: 1000;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   background-color: var(--primary-color);
}
header a {
   margin-right: 40px;
   font-size: 20px;
   color: var(--secondary-color);
}
header .logo {
   width: 50%;
   margin-left: 20px;
   color: rgb(211, 92, 92);
   font-weight: 800;
   font-size: 30px;
}
nav {
   margin-top: 10px;
}
nav .active {
   color: rgb(211, 92, 92);
   border-bottom: 2px solid rgb(211, 92, 92);
}
nav a {
   width: 100%;
   text-align: center;
   margin: 10px 10px 5px 10px;
}
nav a:hover {
   color: rgb(211, 92, 92);
   border-bottom: 2px solid rgb(211, 92, 92);
}
#icon {
   width: 30px;
   cursor: pointer;
}
.hamburger {
   display: none;
   cursor: pointer;
}
.hamburger i {
   font-size: 24px;
   color: var(--secondary-color);
}

/* Section Home */
.home {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   color: var(--secondary-color);
}
.home-img img {
   margin: 40px;
   width: 500px;
   border-radius: 50%;
}
.home-content {
   text-align: center;
   font-size: 20px;
   align-items: center; /* Centrer les éléments horizontalement */
   justify-content: center; /* Centrer les éléments verticalement */
}
.home-content h1 {
   text-align: center;
}
.home-content h1 > span {
   color: rgb(211, 92, 92);
}
.home-content h3 {
   margin-bottom: 20px;
}
.home-content p {
   margin-bottom: 20px;
}
.home-content .social-icons {
   font-size: 30px;
   margin-bottom: 20px;
}
.home-content .social-icons > a {
   color: var(--secondary-color);
}
.home-content .social-icons > a:hover {
   color: rgb(220, 91, 91);
   border-bottom: 2px solid rgb(220, 91, 91);
}
.home-content .btn {
   display: inline-block;
   background: gray;
   font-size: 35px;
   color: var(--secondary-color);
   border-radius: 6px;
   padding: 10px 20px; /* Ajoute du padding pour un meilleur look */
   text-align: center;
   margin-top: 20px; /* Ajoute un peu d'espace au-dessus du bouton */
   cursor: pointer;
   text-decoration: none;
}
.home-content .btn:hover {
   background: rgb(211, 92, 92);
}

/* Section Skills */
.section-skills {
   background-color: var(--primary-color);
   color: black;
   font-size: 20px;
   padding: 100px;
}
.section-skills h2 {
   text-align: center;
   margin-bottom: 20px;
   color: var(--secondary-color);
}
.skills-container {
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   gap: 20px;
}
.skills-container .skill {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
   background: #fff;
   border: 0;
   height: 150px;
   width: 300px;
   border-radius: 10px;
}
.skills-container .skill i {
   margin: 20px;
   font-size: 30px;
}
.skills-container .skill .fa-html5 {
   color: orange;
}
.skills-container .skill .fa-js {
   color: rgb(190, 190, 87);
}
.skills-container .skill .fa-database {
   color: rgb(62, 62, 196);
}

/* Section Project */
.section-projects {
   background-color: var(--primary-color);
   color: var(--secondary-color);
   font-size: 20px;
   padding: 100px;
   text-align: center;
}
.section-projects h2 {
   font-size: 36px;
   margin: 20px;
}
.project-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}
.project-item {
   background-color: #fff;
   padding: 20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border: 0;
   color: black;
   /* width: 300px; */
   border-radius: 10px;
   text-align: left;
}
.project-item:hover {
   transform: scale(1.1);
}
.project-item h3 {
   text-align: center;
   font-size: 24px;
   margin-bottom: 10px;
}
.project-item h3 a {
   color: black;
}
.project-item h3 a:hover {
   border-bottom: 2px solid black;
}
.project-item p {
   font-size: 16px;
   margin-bottom: 10px;
   color: black;
}
.project-item span {
   font-size: 14px;
   color: black;
}

/* Section Contact */
.contact {
   padding: 50px;
   background-color: var(--primary-color);
   color: var(--secondary-color);
   text-align: center;
}
.contact h2 {
   margin-bottom: 20px;
   font-size: 36px;
}
form {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
}
form input,
textarea {
   width: 100%;
   max-width: 500px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}
form button {
   margin-bottom: 20px;
   background-color: rgb(231, 114, 114);
   color: white;
   border: none;
   outline: none;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
}
form button:hover {
   background-color: rgb(213, 58, 58);
   color: white;
}
form p {
   margin-top: 20px;
   font-size: 16px;
}
p a {
   color: rgb(68, 154, 128);
}

/* Responsive */
@media only screen and (max-width: 500px) {
   .home-img img {
      display: none;
   }
}

@media only screen and (max-width: 1130px) {
   .home-img img {
      display: none;
   }
   nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50%;
      right: 0;
      width: 30%;
      background-color: rgb(221, 218, 218);
      text-align: right;
   }
   nav.active {
      display: flex;
   }
   .hamburger {
      display: block;
   }

   .skills-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, 300px);
      gap: 1rem;
   }
}

@media only screen and (max-width: 626px) {
   nav {
      margin-top: 0px;
   }
}

@media only screen and (max-width: 550px) {
   .home {
      padding-top: 70px;
   }
}
